#macro ( menuItem $item )
  #if ( $item.items && $item.items.size() > 0 )
    #foreach( $subItem in $item.items )
      <li>$subItem.name</li>
    #end
  #end
#end

#macro ( mainMenu $menus )
    #foreach( $menu in $menus )
        #foreach( $item in $menu.items )
            #set ( $currentItemHref = $PathTool.calculateLink( $item.href, $relativePath ) )
            #set ( $currentItemHref = $currentItemHref.replaceAll( "\\", "/" ) )
            <li><a href="$currentItemHref">$item.name</a></li>
        #end
    #end
#end

#macro ( subMenu $menus )
    #foreach( $menu in $menus )
        #foreach( $item in $menu.items )
            #if ( $item.collapse == true )
                #foreach( $subItem in $item.items )
                    #set ( $currentItemHref = $PathTool.calculateLink( $subItem.href, $relativePath ) )
                    #set ( $currentItemHref = $currentItemHref.replaceAll( "\\", "/" ) )
                    <li><a href="$currentItemHref">$subItem.name</a></li>
                #end
            #end
        #end
    #end
#end

<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/site.css" />
	<script type="text/javascript" language="javascript" src="js/jquery.js"></script>
	<script type="text/javascript" language="javascript" src="js/rwx.js"></script>
</head>
<body>
    <div id="toolbar">
        <ul class="left">
            #mainMenu( $decoration.body.menus )
	</ul>
    </div>


	<div id="header">
		<h1>$decoration.bannerLeft.name</h1>
		<h2>$decoration.bannerRight</h2>
	</div>

	<div id="menu">
		<ul>
			#subMenu( $decoration.body.menus )
		</ul>
	</div>

	<div id="content"> 
		<div class="article">
                      $bodyContent
		</div>
	</div>

	<div id="footer"> Footer </div>

</body>
</html>
