#macro ( searchCurrentMenu $menus )
    #foreach( $menu in $menus )
        #foreach( $item in $menu.items )
            #set ( $itemHref = $PathTool.calculateLink( $item.href, $relativePath ) )
            #set ( $itemHref = $itemHref.replaceAll( "\\", "/" ) )
            #if ( $itemHref == $alignedFileName )
                #set ( $currentMenuName = $item.name )
            #end

            #foreach( $subItem in $item.items )
                #set ( $itemHref = $PathTool.calculateLink( $subItem.href, $relativePath ) )
                #set ( $itemHref = $itemHref.replaceAll( "\\", "/" ) )
                #if ( $itemHref == $alignedFileName )
                    #set ( $currentMenuName = $item.name )
                    #if ( $shortTitle == "" )
                        #set ( $shortTitle = $item.name )
                    #end
                #end
            #end
        #end
    #end
#end

#macro ( mainMenu $menus )
    #foreach( $menu in $menus )
        #foreach( $item in $menu.items )
            #set ( $currentItemHref = $PathTool.calculateLink( $item.href, $relativePath ) )
            #set ( $currentItemHref = $currentItemHref.replaceAll( "\\", "/" ) )

            #searchCurrentMenu( $menus )
            #if ( $currentMenuName == $item.name )
                <li class="selected"><a href="$currentItemHref">$item.name</a></li>
            #else
                <li><a href="$currentItemHref">$item.name</a></li>
            #end
        #end
    #end
#end

#macro ( subMenu $menus )
    #foreach( $menu in $menus )
        #foreach( $item in $menu.items )
            #if ( $currentMenuName == $item.name )
                #foreach( $subItem in $item.items )
                    #set ( $currentItemHref = $PathTool.calculateLink( $subItem.href, $relativePath ) )
                    #set ( $currentItemHref = $currentItemHref.replaceAll( "\\", "/" ) )
                    #if ( $currentItemHref == $alignedFileName )
                        <li class="selected"><a href="$currentItemHref">$subItem.name</a></li>
                    #else
                        <li><a href="$currentItemHref">$subItem.name</a></li>
                    #end
                #end
            #end
        #end
    #end
#end

#macro ( formatDate )
    $dateFormat.applyPattern( "dd/MM/yyyy" )
    #set ( $formatedDate = $dateFormat.format( $currentDate ) )
    $formatedDate
#end


#set ( $currentMenuName = "" )
<html>
<head>
	<title>$decoration.bannerLeft.name</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/site.css" />
</head>
<body>
    <div id="toolbar">
        <ul class="left">
            #mainMenu( $decoration.body.menus )
	</ul>
        <div class="right">
            ${project.version} - #formatDate( )
        </div>
    </div>


	<div id="header">
		<h1>$decoration.bannerLeft.name</h1>
		<h2>$shortTitle</h2>
	</div>

	<div id="menu">
		<ul>
			#subMenu( $decoration.body.menus )
		</ul>
	</div>

	<div id="content"> 
		<div class="article">
                      $bodyContent
		</div>
	</div>

	<div id="footer"> Footer </div>

</body>
</html>
